{{- define "main" }}
    <div class="banner">
        <pre class="banner">
                                                    (\
                                                    \'\
                      _     _                        \'\     __________
        __      _____| |__ | | ___   __ __           / '|   ()_________)
        \ \ /\ / / _ \ '_ \| |/ _ \ / _` |           \ '/    \ ~~~~~~~~ \           {{ i18n "blogbanner_l1" }}
         \ V  V /  __/ |_) | | (_) | (_| |             \       \ ~~~~~~   \         {{ i18n "blogbanner_l2" }}
          \_/\_/ \___|_.__/|_|\___/ \__, |             ==).      \__________\
                                    |___/             (__)       ()__________)

        </pre>
    </div>

    <!-- Content from blog.md -->
    {{ .Content }}
    
    <h2><a href="/index.xml"><img src="/icons/material-rss.png" class="icon-medium">RSS</a></h2>

    <ul class="center taglist">
        {{ range .Site.Taxonomies.tags }}
            <li>
                {{ .Count }} <h4 class="tag"><a class="tag" href="{{ .Page.Permalink }}">{{ .Page.Params.tagmoji | default "🏷" }} {{ .Page.Title }}</a></h4>
            </li>
        {{ end }}
    </ul>

    <ul>
        <!-- Ranges through content/blog/*.md (latest on the top) -->
        {{ range .Pages.ByDate.Reverse }}
        <li>
            <h3>{{ .PublishDate.Format "2006-01-02" }} - <a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        </li>
        {{ end }}
    </ul>

{{- end }}
