{{- define "main" }}
    <div class="title">
        <h1 class="post_title">{{ .Title }}</h1>
        <p class="center post_info">{{ i18n "pubdate" }} <strong>{{ .PublishDate.Format "02-01-2006" }}</strong></p>
        <p class="center post_info">{{ i18n "lastmoddate" }} <strong>{{ .Lastmod.Format "02-01-2006" }}</strong></p>
        <p class="center post_info">{{ i18n "wordcount" }}: <strong>{{ .WordCount }}</strong></p>
        <p class="center post_info">
        {{ i18n "tags" }}:
        {{ range $i, $tag := .Params.tags -}}
            {{- if $i -}}, {{ end -}}
            <strong><a href='{{ relLangURL "tags/" }}{{ . | urlize }}'>{{ $tag }}</a></strong>
        {{- end -}}
        </p>
    </div>

    {{ .Content }}

    
    <p>{{ i18n "writtenby" }} <b>{{ .Site.Params.Author.name }}</b></p>
    <a href="mailto:{{ .Site.Params.Author.email }}?subject=Re: {{ .Title }}">[✉ {{ i18n "postreply" }}]</a>
    
    <a href='{{ relLangURL "blog" }}' class="toindex">{{ i18n "toindex" }}</a>
{{- end }}

