{{- define "main" }}
    <div class="banner">
        <pre class="banner">
                  _                           _          ____                 ____
        __      _| |__   ___   __ _ _ __ ___ (_)        |    |               |    |
        \ \ /\ / / '_ \ / _ \ / _` | '_ ` _ \| |        |____|____       ____|    |           {{ i18n "aboutbanner_l1" }}
         \ V  V /| | | | (_) | (_| | | | | | | |        |    |    |     |         |           {{ i18n "aboutbanner_l2" }}
          \_/\_/ |_| |_|\___/ \__,_|_| |_| |_|_|        |____|____|     |_________|

        </pre>
    </div>

    <!-- Content from about.md -->
    {{ .Content }}

{{- end }}
