<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <div class="topbar">
            {{- partial "header/name.html" . -}}
            {{- partial "header/nav-menu.html" . -}}
            {{- partial "header/langlist.html" . -}}
        </div>
        {{- block "main" . }}{{- end }}
        <div class="bottombar">
            {{- partial "footer/hitcounter.html" . -}}
            {{- partial "footer/copyright.html" . -}}
        </div>
    </body>
</html>
