{{- define "main" }}
    <div class="title">
        <h1 class="post_title">{{ .Params.tagmoji | default "🏷" }} {{ .Title }}</h1>
        <p class="center post_info"><strong>{{ len .Pages }}</strong> {{ i18n "tagcount" }}</p>
    </div>
    
    {{ .Content }}

    <ul>
        <!-- Ranges through content/blog/*.md (latest on the top) -->
        {{ range .Pages.ByDate.Reverse }}
        <li>
            <h3>{{ .PublishDate.Format "2006-01-02" }} - <a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        </li>
        {{ end }}
    </ul>
{{- end }}
