<p class="center">
<a href="{{ .Site.BaseURL }}">
    <img class="buttons" src="/buttons/neo64.png" alt="[Neo64 On The Web]">
</a>
<a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">
    <img class="buttons" src="/buttons/cc-by-sa.png" alt="[CC BY-SA 4.0]">
</a>
</p>

<footer class="copyright">
    © 2022-{{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">Neo64YT</a>
    <br>
        {{ i18n "copyright_note" }} <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>
    <br>
    {{ i18n "powered_by" }} <a href="https://gohugo.io/">Hugo</a>
</footer>
