<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Style -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    
    <!-- Favicon -->
    <link href="/img/neo64-new.png" rel="shortcut icon" type="image/x-icon">

    <link rel="me" href="https://mastodon.online/@neo64yt">

    <!-- Title -->
    <title>
        {{- block "title" . }}
        {{ .Title }} - {{ .Site.Title }}
        {{- end }}
    </title>
</head>
