{{- define "main" }}
        <div class="banner">
            <pre class="banner">
                                                           .--.           
                         __ _ _                           |o_o |                  {{ i18n "homebanner_l1" }} 
          _ _  ___ ___  / /| | |                          |:_/ |                  {{ i18n "homebanner_l2" }}
         | ' \/ -_) _ \/ _ \_  _|                        //   \ \                 {{ i18n "homebanner_l3" }} 
         |_||_\___\___/\___/ |_|                        (|     | )                {{ i18n "homebanner_l4" }} 
                                                       /'\_   _/`\                {{ i18n "homebanner_l5" }}
                                                       \___)=(___/
            </pre>
        </div>

        <img src="/img/horiz-green-bar.gif" class="center gifbar"/>
        
		<!-- Content from _index.md -->
        {{ .Content }}
        <br>

        <div class="grid-container">
            <!-- Latest blog posts -->
            <div class="grid-item">
                <h2 style="color: yellow;" class="center">📜 {{ i18n "latestposts" }}</h2>        
                <ul>
                    <!-- Ranges through content/blog/*.md -->
                    {{ $newposts := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
                    {{ range first 5 $newposts }}
                    <li>
                        <p>{{ .PublishDate.Format "2006-01-02" }} - <a href="{{ .Permalink }}">{{ .Title }}</a></p>
                    </li>
                    {{ end }}
                </ul>
                <a href='{{ relLangURL "blog" }}'>{{ i18n "moreposts" }}</a>
            </div>
            
            <!-- Web directory -->
            <div class="grid-item">
                <h2 style="color: yellow;" class="center">📚 {{ i18n "webdirectory" }}</h2>
                <ul class="webdir">
                     <!-- Ranges through content/blog/*.md -->
                    {{ $newposts := where .Site.RegularPages "Type" "in" "webdir" }}
                    {{ range first 5 $newposts }}
                    <li>
                        <p><a href="{{ .Permalink }}">{{ .LinkTitle }}/</a></p>
                    </li>
                    {{ end }}
                </ul>
                <a href='{{ relLangURL "webdir" }}'>{{ i18n "moresecs" }}</a>
           </div>
        </div>
        <br>

        <div class="social">
            <h2 class="center">
                <a href="https://youtube.com/@neo64ishere">
                    <img class="icon-medium" src="/icons/material-youtube.png" alt="[YouTube]">
                </a>
                <a href="https://odysee.com/@Neo64IsHere:1">
                    <img class="icon-medium" src="/icons/awesome-odysee.svg" alt="[Odysee]">
                </a>
                <a rel=me href="https://mastodon.online/@neo64yt">
                    <img class="icon-medium" src="/icons/awesome-mastodon.svg" alt="[Mastodon]">
                </a>
                <a href="https://codeberg.org/neo64yt/">
                    <img class="icon-medium" src="/icons/white-codeberg.svg" alt="[Codeberg]">
                </a> 
                <a href="https://github.com/neo64yt/">
                    <img class="icon-medium" src="/icons/awesome-github.svg" alt="[Github]">
                </a> 
                <a href="mailto:neo64@disroot.org">
                    <img class="icon-medium" src="/icons/material-email.png" alt="[Email]">
                </a>
                <a href="/neo64.asc">
                    <img class="icon-medium" src="/icons/material-key.png" alt="[PGP]">
                </a>
                <a href="/index.xml">
                    <img class="icon-medium" src="/icons/material-rss.png" alt="[RSS]">
                </a>
            </h2>
        </div>

        <!-- Buttons with links -->
        <p class="center">
            <a href="https://anybrowser.org/campaign/">
                <img class="buttons" src="/buttons/my_anybr.gif" alt="[Viewable with Any Browser]">
            </a>
            <a href="https://opencontent.org/">
                <img class="buttons" src="/buttons/takeone.gif" alt="[Open Content]">
            </a>
            <a href="https://neovim.io/">
                <img class="buttons" src="/buttons/neovim.gif" alt="[Made in Neovim]">
            </a>
            <a href="https://gimp.org/">
                <img class="buttons" src="/buttons/gimp.gif" alt="[Graphics by GIMP]">
            </a>
            <a href="https://archive.org/">
                <img class="buttons" src="/buttons/ia.gif" alt="[Internet Archive]">
            </a>
            <a href="https://www.openpgp.org/">
                <img class="buttons" src="/buttons/pgp-now.gif" alt="[Privacy Now!]">
            </a>
            <a href="https://gnu.org/">
                <img class="buttons" src="/buttons/gnu.gif" alt="[GNU]">
            </a>
            <a href="https://suckless.org">
                <img class="buttons" src="/buttons/suckless.gif" alt="[suckless.org]">
            </a>
            <a href="https://jointhefedi.com/">
                <img class="buttons" src="/buttons/fedi.gif" alt="[Join the Fediverse]">
            </a>
            <a href="https://joinmastodon.org/">
                <img class="buttons" src="/buttons/masto.gif" alt="[Join Mastodon]">
            </a>
            <a href="https://www.eff.org/pages/blue-ribbon-campaign">
                <img class="buttons" src="/buttons/fspeech.gif" alt="[Blue Ribbon Campaign]">
            </a>
            <a href="https://yesterweb.org/no-to-web3/">
                <img class="buttons" src="/buttons/saynotoweb3.gif" alt="[Say No to Web3]">
            </a>
            <a href="https://www.mozilla.org/en-US/firefox/">
                <img class="buttons" src="/buttons/firefox-now.gif" alt="[Firefox Now!]">
            </a>
            <a href="https://searx.me/">
                <img class="buttons" src="/buttons/searxbutton.png" alt="[SearX Now!]">
            </a>
            <a href="https://youtu.be/dQw4w9WgXcQ">
                <img class="buttons" src="/buttons/click_here.gif" alt="[Click Here!]">
            </a>
            <a href="https://codeberg.org/">
                <img class="buttons" src="/buttons/codeberg.png" alt="[Code on Codeberg]">
            </a>
        </p>
        
        <!-- Buttons without link -->
        <p class="center">
                <img class="buttons" src="/buttons/freepalestine.gif" alt="[Free Palestine]">
                <img class="buttons" src="/buttons/nocookie.gif" alt="[100% cookie free!]">
                <img class="buttons" src="/buttons/internetprivacy.gif" alt="[Internet Privacy Now!]">
                <img class="buttons" src="/buttons/best_viewed_with_eyes.gif" alt="[Best Viewed with Eyes]">
                <img class="buttons" src="/buttons/linuxnow2.gif" alt="[Linux Now!]">
                <img class="buttons" src="/buttons/your-ad.gif" alt="[Your Ad Here]">
                <img class="buttons" src="/buttons/gnu-linux.gif" alt="[Made on GNU/Linux]">
                <img class="buttons" src="/buttons/working.gif" alt="[Work in Progress]">
                <img class="buttons" src="/buttons/learnhtml.gif" alt="[Learn HTML Now!]">
        </p>

{{- end }}
