{{- define "main" }}
    <div class="banner">
        <pre class="banner">
               .--.                   .---.
           .---|__|           .-.     |~~~|
        .--|===|--|_          |_|     |~~~|--.
        |  |===|  |'\     .---!~|  .--|   |--|
        |%%|   |  |.'\    |===| |--|%%|   |  |
        |%%|   |  |\.'\   |   | |__|  |   |  |                                _         _ _
        |  |   |  | \  \  |===| |==|  |   |  |                  __      _____| |__   __| (_)_ __
        |  |   |__|  \.'\ |   |_|__|  |~~~|__|                  \ \ /\ / / _ \ '_ \ / _` | | '__|
        |  |===|--|   \.'\|===|~|--|%%|~~~|--|                   \ V  V /  __/ |_) | (_| | | |
        ^--^---'--^    `-'`---^-^--^--^---'--' hjw                \_/\_/ \___|_.__/ \__,_|_|_|
        </pre>
    </div>

    <!-- Content from content/webdir/_index.md -->
    {{ .Content }}

    <ul class="webdir">
        <!-- Ranges through content/webdir/*.md -->
        {{ range .Pages }}
        <li>
            <h3><a href="{{ .Permalink }}">{{ .LinkTitle }}/</a></h3>
        </li>
        {{ end }}
    </ul>

{{- end }}
