{{- define "main" }}
    <div class="banner">
        <pre class="banner">
               .--.                   .---.
           .---|__|           .-.     |~~~|
        .--|===|--|_          |_|     |~~~|--.
        |  |===|  |'\     .---!~|  .--|   |--|
        |%%|   |  |.'\    |===| |--|%%|   |  |
        |%%|   |  |\.'\   |   | |__|  |   |  |                                _         _ _
        |  |   |  | \  \  |===| |==|  |   |  |                  __      _____| |__   __| (_)_ __
        |  |   |__|  \.'\ |   |_|__|  |~~~|__|                  \ \ /\ / / _ \ '_ \ / _` | | '__|
        |  |===|--|   \.'\|===|~|--|%%|~~~|--|                   \ V  V /  __/ |_) | (_| | | |
        ^--^---'--^    `-'`---^-^--^--^---'--' hjw                \_/\_/ \___|_.__/ \__,_|_|_|
        </pre>
    </div>
    
    <div class="title">
        <h1 class="post_title">{{ .Title }}</h1>
    </div>

    <!-- Content from content/webdir/_index.md -->
    {{ .Content }}

    <a href='{{ relLangURL "webdir" }}' class="toindex">{{ i18n "toindex" }}</a>

{{- end }}
