<div class="topbar_right">
<h2 class="langlist">
{{ range .AllTranslations }}
{{ if (eq .Language $.Site.Language) }}
<a class="lang hidden-mobile" style="color: yellow;" href="{{ .Permalink }}">{{ .Language.LanguageCode }}</a>
{{ else }}
<a class="lang" style="font-weight: lighter;" href="{{ .Permalink }}">{{ .Language.LanguageCode }}</a>
{{ end }}
{{ end }}
</h2>
</div>

