<div class="topbar_left">
<h2 class="nav"><!--
--><a href='{{ relLangURL "" }}'><img class="icon" src="/icons/material-home.png" alt='{{ i18n "home_button" }}'></a>/<!--
--><a href='{{ relLangURL "blog" }}'><img class="icon" src="/icons/material-post.png" alt='{{ i18n "blog_button" }}'></a>/<!--
--><a href='{{ relLangURL "webdir" }}'><img class="icon" src="/icons/material-library.png" alt='{{ i18n "webdir_button" }}'></a>/<!--
--><a href='{{ relLangURL "about" }}'><img class="icon" src="/icons/material-account.png" alt='{{ i18n "about_button" }}'></a>
</h2>
</div>
